cffi==1.8.2
cryptography==1.5
Django==1.10.1
django-webpack-loader==0.2.4
enum34==1.1.6
Fabric==1.10.2
idna==2.1
ipaddress==1.0.17
paramiko==2.0.2
pbr==1.10.0
pyasn1==0.1.9
pycparser==2.14
six==1.10.0
stevedore==1.17.1
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
